# Ignorar archivos generados por IDEs
.idea/


# Ignorar archivos específicos de NetBeans
nbactions.xml
dependency-reduced-pom.xml
Tarea1_KendallFonseca_EmmanuelGamboa.iml

# Ignorar archivos específicos de macOS
*.DS_Store

# Ignorar archivos de compilación y salida de Maven
*target/

# Ignorar archivos binarios compilados y generados
*.class
*.jar

# Ignorar archivos de texto genéricos
*.txt
*.png
.userphotos/