*{
    /* Constants */
    -fx-base-color-focus: #09b6bc;
    -fx-base-color-unfocus: #4d4d4d;
    -fx-base-color-etiquetas: #4d4d4d;
    -fx-base-color-titulos: #072225;
    -fx-base-color-error: #D34336;
    -fx-base-color-id: #00C853;

    -mfx-main: -fx-base-color-focus;
    -mfx-purple: -fx-base-color-focus;
}

.jfx-panel-fondo{
    -fx-background-color: #7e92a1;
    -fx-opacity: 0.8;
}

.jfx-panel-fondo > AnchorPane{
    -fx-background-color: white;
    -fx-border-color: #97a692;
    -fx-border-width: 10px;
}

.jfx-contenedor-principal{
    -fx-background-color: white;
    -fx-background-radius: 4.0;
    -fx-padding: 25 15 15 15;
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.15), 10.0, 0.7, 0.0, 1.5);
}

.jfx-titulo-label{
    -fx-font-size: 24px;
    -fx-padding: 5 0 5 0;
    -fx-text-fill: -fx-base-color-titulos;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 2, 0.0, 1, 2);
}

.mfx-text-field{
    -mfx-float-mode: BORDER;
    -fx-font-size: 14px;
    -fx-pref-height: 40px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
    -fx-alignment: TOP_LEFT;
    -fx-text-fill: black;
    -fx-prompt-text-fill: -fx-base-color-etiquetas;
}
.mfx-button{
    -mfx-button-type: RAISED;
    -fx-opacity: 0.8;
    -fx-content-display: left;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-alignment:CENTER_LEFT;

}
.button:hover{
    -fx-background-color: #bc0909;
    -fx-text-fill: white;
}
.jfx-btn-nuevo, jfx-btn-nuevo:armed,.jfx-btn-nuevo{
    -fx-background-color: #7ffaff;

}
.jfx-btn-nuevo>ImageView{
    -fx-image: url('../resources/Agregar-48.png');
}